@use "../../styles/typography" as *;
.maskTextContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  overflow: hidden;
  display: grid;
  z-index: 100;

  @media (max-width: 1280px) {
    display: none;
  }
}
