.maskText {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.inView {
  .spanContent {
    display: inline-block;
    animation: maskOff var(--duration) cubic-bezier(0.33, 1, 0.68, 1)
      forwards;
    animation-delay: calc(
      var(--wordIndex) * var(--wordStagger) + var(--lineIndex) *
        var(--lineStagger) + var(--delay)
    );
  }
}

.spanWrapper {
  display: inline-flex;
  overflow: hidden;
  position: relative;
  .spanContent {
    display: inline-block;
  }
}

@keyframes maskOff {
  to {
    transform: translateY(0);
  }
}
