@use "../../styles/typography" as *;

.main {
  position: relative;
  height: 100vh;
  width: 100%;

  .index {
    @include display-d2;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 2rem 0 2rem;
    color: white;
    overflow: hidden;
    .indexNumber {
      @include display-d1;
    }
  }
  .names {
    @include display-d2;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem;
  }
  .images {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 40vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .repCard {
      opacity: 0.5;
    }
  }
}
