@use "../../styles/typography" as *;

.main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  .detailsLeft,
  .detailsRight {
    position: absolute;
    top: 50%;
  }

  .index {
    @include display-d2;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 2rem 0 2rem;
    overflow: hidden;
    .indexNumber {
      @include display-d1;
      display: inline-block;
    }
  }
  .names {
    @include display-d2;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    transform-origin: center right;
    padding: 2rem;
    text-align: right;

    // .repName:first-child {
    //   position: fixed;
    //   top: 50%;
    //   right: 0;
    //   padding: 2rem;
    // }

    @media (max-width: 1280px) {
      display: none;
    }
  }
  .detailsLeft,
  .detailsRight {
    color: white;
    @include display-d3;
    position: absolute;
    top: 50%;
    width: 7rem;

    @media (max-width: 1280px) {
      display: none;
    }
  }
  .detailsLeft {
    left: 22%;
    text-align: right;
  }
  .detailsRight {
    right: 22%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1280px) {
      display: none;
    }
  }

  .images {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;

    .repCard {
      grid-area: 1/1;
      backface-visibility: hidden;
    }
  }
}

.nameSection {
  color: white;
  width: 100%;
  text-align: left;
  @include display-d2;

  @media (min-width: 1280px) {
    display: none;
  }
}
