.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;
}

.navList {
  font-family: var(--font-heading);
  color: var(--blue-accent);
  font-weight: 500;
  .navLink {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: color 0.2s ease-in-out;
    display: flex;
    align-items: flex-end;
    .navLinkIcon {
      position: relative;
      height: 2rem;
      width: 2rem;
    }

    .navLinkText {
      position: relative;
      flex: 1;
      font-size: 2rem;
      left: -2px;
      line-height: 1;
    }
    &:hover {
      color: var(--blue-accent);
    }
  }
}

.logoContainer {
  position: absolute;
  height: 4rem;
  left: 1rem;
  top: 1rem;
}
