.header {
  width: 100%;
  z-index: 500;
  display: flex;
  pointer-events: none;
  padding: 2rem 2rem 0 2rem;
}

.homeLink {
  pointer-events: auto;
  cursor: pointer;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.navLink {
  font-family: var(--font-heading);
  font-weight: var(--header2-weight);
  font-size: clamp(1rem, 5vw, 1.5rem);
  text-transform: uppercase;
  pointer-events: auto;
  cursor: pointer;
  margin-left: auto;
}

.navLinkOnDark {
  color: #f0f0f0;
}

.navLinkOnLight {
  color: var(--primary-color);
}

.navLinkCurrent {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}

.navLink:hover {
  animation: hueRotate 1s ease-out forwards;
}

@keyframes hueRotate {
  to {
    filter: hue-rotate(180deg);
  }
}
