@use "../../styles/typography" as *;
.legend {
  box-sizing: border-box;
  flex: 1 1 0;
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  font-family: var(--font-heading);
  gap: 24px;
}

.legendContainer {
  display: flex;
  flex-direction: column;
}

.legendSubheader {
  @include header3;
  text-transform: uppercase;
}

.legendList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 24px;
}

.legendItem {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 12px;
  // border-bottom: 1px solid #000;
  mix-blend-mode: difference;
  align-items: end;
  height: 100%;
  background: color-mix(
    in srgb,
    var(--background-color) 86%,
    #000000 14%
  );
}

.legendName,
.districtNumber {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}
.rowFill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: normal;
  background: #000;
  clip-path: inset(0 100% 0 0);
}

.underLine {
  position: absolute;
  left: 0;
  width: 100%;
  mix-blend-mode: difference;

  height: 1px;
  background: #fff;
  z-index: 1;
}

.districtNumber {
  grid-column: 2;
  @include body3;
  font-weight: 700;
  line-height: 1;
  text-align: center;

  @media (max-width: 768px) {
    grid-column: 3;
    text-align: right;
  }
}

.legendName {
  position: relative;
  padding-left: 4px;
  grid-column: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
  @include body2;
  font-weight: 600;
  // width: 100%;
}
.itemArrow {
  width: 1rem;
}

.itemArrowPath {
  fill: none;
  stroke: var(--red-accent);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
