@use "../../styles/typography" as *;
.legend {
  box-sizing: border-box;
  flex: 1 1 0;
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-family: var(--font-heading);
  gap: 12px;
  // padding: 12px;
  // background: #362c28;
}

.legendContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.legendSubheader {
  @include header3;
}

.legendList {
  list-style: none;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.legendItem {
  display: flex;
  gap: 12px;
}

.districtBadge {
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999rem;
  color: white;
}
.districtNumber {
  font-weight: 700;
  transform: skew(-10deg);
}
.legendText {
  display: flex;
  align-items: center;

  height: 2rem;
  gap: 0.5rem;
}

.legendName {
  white-space: nowrap;
  display: flex;
  align-items: center;
  @include body1;
  font-weight: 600;
}
.itemArrow {
  width: 1rem;
}

.itemArrowPath {
  fill: none;
  stroke: var(--red-accent);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
