.header {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  justify-content: center;
  align-items: stretch;
  padding-top: clamp(2rem, 8vw, 5rem);
  gap: clamp(2px, 0.4vw, 8px);
  font-weight: 600;
  width: 100%;
}
