.modal {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 50rem;
  background-color: white;
  border-radius: 3rem 3rem 0 0;
  height: 90vh;
  overflow-y: auto;

  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 640px) {
      flex-direction: row-reverse;
      align-items: center;
    }
    .partyBG {
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0;
      z-index: 1;
      border-radius: 3rem;
      @media (min-width: 640px) {
        width: 75%;
        
      }
    }
    .imageContainer {
      height: 65vh;
      width: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 3rem;
      z-index: 2;
      @media (min-width: 640px) {
        width: 40rem;
      }
    }
    .repName {
      display: absolute;
      font-size: 5rem;
      mix-blend-mode: difference;
      line-height: 1.1;
      color: white;
      font-weight: bold;
      transform: rotate(45deg);
      z-index: 3;
    }
  }
    .nav {
      .navList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
        padding: 2rem;
        
        @media (min-width: 640px) {
          gap: 3rem;
          padding-left: 3rem;
        }
      }
    }
    .midTerm {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

    }
  }