@use "../../styles/typography" as *;

.rosterHeader {
  padding: 48px 24px;
  color: var(--dark-accent);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 2rem;

  .rosterTitle {
    @include header1;
    color: var(--blue-accent);
    grid-column: 1;
    grid-row: 1;
    @media (max-width: 768px) {
      @include header2;
    }
  }
  .rosterDescription {
    @include body1;
    grid-column: 2;
    grid-row: span 2;
    padding: 2rem 0;
    @media (max-width: 768px) {
      grid-column: span 2;
      grid-row: 2;
    }
  }
  .arrowDownIcon {
    grid-column: span 2;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 1s infinite alternate;
  }
  .rosterTitleLine {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);
    height: 1px;
    background: var(--dark-accent);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.roster {
  width: 100vw;
  position: relative;
  background-color: color-mix(
    in srgb,
    var(--background-color) 86%,
    #000000 14%
  );

  .rosterColumnHeader {
    display: flex;
    @include header3;
    padding: 1rem 2rem;
    color: #000;
    background-color: var(--background-color);
    text-transform: uppercase;

    .mobileColumnGroup {
      display: none;
      @media (max-width: 768px) {
        display: block;
        font-size: 1.2rem;
      }
    }
    .desktopColumnGroup {
      display: flex;
      width: 100%;
      justify-content: space-between;
      @media (max-width: 768px) {
        display: none;
      }

      .rosterColumnKey {
        text-align: left;
        flex: 1;
      }

      .keyGroup {
        display: flex;
        width: clamp(20rem, 35vw, 35rem);

        .rosterColumnKey {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
.rosterRow {
  margin-top: 24px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  position: relative;
  padding: 2rem;
  align-items: center;
  cursor: pointer;

  .underLine {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);
    height: 1px;
    background: var(--dark-accent);
  }

  @media (min-width: 768px) {
    &:hover > .repName {
      transform: translateX(-15px);
      opacity: 0.5;
    }
    &:hover > .keyGroup {
      transform: translateX(15px);
      opacity: 0.5;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 1rem 1rem;
  }

  .repName {
    width: 100%;
    color: var(--dark-accent);
    font-family: var(--font-heading);
    font-style: italic;
    @include header2;
    font-weight: 1000;
    letter-spacing: -0.07em;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    flex: 1;
    transition:
      transform 0.3s cubic-bezier(0.33, 1, 0.706, 1.167),
      opacity 0.3s ease;
  }
  .keyGroup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--dark-accent);
    width: clamp(20rem, 35vw, 35rem);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    .termEnding {
      color: var(--red-accent);
    }
    .rosterColumnValue {
      font-size: clamp(1.4rem, 2vw, 2rem);
      font-weight: 700;
      text-align: center;
      width: 100%;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }

  .repDetails {
    @include header3;
    text-transform: uppercase;
    background: color-mix(
      in srgb,
      var(--background-color) 80%,
      black 20%
    );
    color: white;
    padding: 1rem;
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.rowDetail {
  display: flex;
  justify-content: center;
  font-family: var(--font-heading);
  color: black;
  background: var(--blue-accent);
  position: relative;
  .line {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);
    height: 1px;
    background: black;
  }

  .detailContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 48px 24px 24px 24px;
    gap: 24px;
    @media (max-width: 768px) {
      padding: 0;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, auto);
    }
    .imageSection {
      position: relative;
      grid-column: 1;
      grid-row: 2;
      background: black;
      color: white;
      display: flex;
      justify-content: center;
      padding: 24px;
      padding-bottom: 4rem;
      @media (max-width: 768px) {
        grid-column: span 2;
        grid-row: 1;
        justify-content: flex-start;
      }
      .sectionContent {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .ImageContainer {
          position: relative;
          .profileImage {
            width: clamp(7rem, 20vw, 10rem);
            aspect-ratio: 1/1;
            overflow: hidden;
            clip-path: inset(0 0 50% 0);
          }
        }
        .textContainer {
          @include body3;
          // font-weight: 600;
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          .textBlock {
            .termEnding {
              color: var(--red-accent);
            }
            &:first-child {
              font-weight: 600;
              color: rgb(231, 231, 231);
            }
          }

          @media (max-width: 768px) {
            white-space: normal;
          }
        }
      }
    }
    .sectionTitle {
      @include header3;
      text-transform: uppercase;
    }
    .bioSection {
      grid-column: 2;
      grid-row: 1;
      @include body1;
      padding-bottom: 4rem;

      @media (max-width: 768px) {
        grid-column: span 2;
        grid-row: 2;
        @include body2;
        padding: 24px;
      }
    }
    .linksSection {
      @include body2;
      grid-column: 2;
      grid-row: 2;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @media (max-width: 768px) {
        grid-column: span 2;
        grid-row: 3;
        padding: 24px;
      }

      a {
        color: black;
        display: block;
        line-height: 2;
        border-bottom: 1px solid black;
        &:hover {
          background: black;
          color: white;
        }
      }
    }
    .callSection {
      grid-column: 3;
      grid-row: span 2;
      color: white;
      @include header1;
      .text {
        font-weight: 1000;
        text-transform: uppercase;
        text-align: center;
        -webkit-text-stroke: 1px black;
        height: 100%;
      }
      @media (max-width: 768px) {
        grid-column: span 2;
        padding-bottom: 48px;
      }
    }
  }
}
