.image {
  --ease-spring: cubic-bezier(0.68, -0.15, 0.265, 1.15);
  animation: jump 1s var(--ease-spring) forwards;
  animation-delay: 1.5s;
  transform: translateX(100%) translateY(100%);
}

@keyframes jump {
  from {
    transform: translateX(100%) translateY(100%);
  }
  to {
    transform: translateX(10%) translateY(0);
  }
}
