@import 'tailwindcss';

/* remove arrows from number input */
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@theme {
  --color-accent: #3b82f6; /* blue-500 */
  --color-accent-dark: #2563eb; /* blue-600 */
}
