.navContainer {
  position: relative;
  background-color: var(--primary-color);
  .navBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.navItems {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  background-color: var(--primary-color);
    .navList {
      color: var(--blue-accent);
      display: flex;
      padding: 1rem 4rem;
      .navLink {
        height: min-content;
      }
    
  }

}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 100%;
  height: 8rem;
  padding: 2rem;
  will-change: transform;

}

.heroContainer {
  display: flex;
  padding: 2rem;
  justify-content: center;
  will-change: transform;
}

.bottomSection {
  background-color: var(--background-color);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding: 3rem;
  .textSection {
    position: relative;
    width: 22rem;
    height: 16rem;
    .textContent {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 1rem;
      right: 1.25rem;
      background-color: white;
      z-index: 1;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .textHeading {
        font-size: 1.5rem;
        color: var(--secondary-color);
      }
      .textBody {
        font-size: 18px;
        color: var(--blue-accent)
      }
    }
    .textBackground {
      position: relative;
      width: 100%;
      height: 100%;
      top: 1rem;
      left: 1.25rem;
    }
  }
}
