.button {
  position: relative;
  display: grid;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.5em;

  span {
    padding: 0.4rem 1rem;
    grid-area: 1/1;
    border-radius: 0.5rem;
    transition: transform 300ms ease-out;
  }
  .shadow {
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
    z-index: 1;
    will-change: transform;
  }

  .edge {
    background-color: #414141;
    z-index: 5;
  }
  .top {
    // background-color: var(--blue-accent);
    background: rgb(255, 255, 255);
    border: solid rgb(128, 127, 127) 1px;
    transform: translateY(-5px);
    z-index: 10;
    will-change: transform;
  }
  &:hover {
    cursor: pointer;
  }
}

.button:hover .top {
  transform: translateY(-7px);
  transition: transform 300ms ease-out;
}
.button:hover .shadow {
  transform: translateY(6px);
  transition: transform 300ms ease-out;
}
.button:active .top {
  transform: translateY(-2px);
  transition: transform 50ms ease-out;
}
.button:active .shadow {
  transform: translateY(2px);
  transition: transform 50ms ease-out;
}
