.submitButton {
  // background-color: var(--blue-accent);
  cursor: pointer;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .submitButtonIcon {
    height: 3rem;
    width: 3rem;
  }
}
