.submitButtonWrapper {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(25%, -50%);
  z-index: 10;
}

.submitButton {
  background-color: black;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}