.submitButtonWrapper {
  
  padding: 0 1rem 0 0;
  position: absolute;
  right: 0;
  
  @media (min-width: 768px) {
    top: 50%;
  left: 100%;
  transform: translate(25%, -50%);
  z-index: 10;
}
}

.submitButton {
  background-color: black;
  border-radius: 1rem;

  @media (min-width: 768px) {
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
}