.container {
  font-family: var(--font-heading);
  font-weight: var(--header2-weight);
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 768px) {
    justify-content: flex-start;
  }
}

.title {
  color: var(--red-accent);
  font-size: var(--city-title-size);
  line-height: 1.15;
  transition: font-size 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
