.island {
  position: fixed;
  right: 0;
  top: 0;
  color: var(--background-color);
  transform: translateY(25%) translateX(-25%) scale(0);
  width: fit-content;
  height: 12vh;
  aspect-ratio: 1/1;
  background-color: var(--secondary-color);
  border-radius: 100%;
  transition: transform 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.island[data-visible="true"] {
  transform: translateY(25%) translateX(-25%) scale(1);
}
