.logo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--background-color);
  // background-color: black;
  transform: translate(-100%);
  z-index: 10;
}
.logo::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--background-color);
  // background-color: black;
  transform: translate(100%);
  z-index: 10;
}
.logo {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: min-content 0 min-content;
  column-gap: 0em;
  font-size: inherit;
  transform-origin: top center;
  // overflow: hidden;
  height: min-content;
  width: min-content;
  line-height: 1;
  padding-right: 0.15em;
  isolation: isolate;

  .logoText {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--font-heading);
    // font-weight: 500;
    white-space: nowrap;
    letter-spacing: -0.1em;
    color: #ffffff;
    mix-blend-mode: difference;
    z-index: 1000;
    .logoChar {
      display: inline-block;
    }
  }

  [data-animate="logo-char-container"] {
    overflow: hidden;
    transform: translateY(150%);
  }

  .backgroundSlot {
    position: relative;
    left: 0.07em;
    width: 0;
    height: 100%;
    overflow: visible;
  }

  .background {
    position: absolute;
    inset: 0;

    mix-blend-mode: normal;
    transform: translate(-50%);
    width: 1em;
    height: 100%;
    // height: clamp(2rem, 15vw, 6rem);
    background-color: #252525;
    clip-path: inset(0% 0% 0% 100%);
    z-index: 1;
  }
}

.header {
  overflow: visible;

  .logoText {
    mix-blend-mode: normal;
    color: var(--primary-color);
  }
  .logoText:first-child {
    transition: transform 0.3s 0.15s
      cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .logoText:last-child {
    transition: transform 0.3s 0.15s
      cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  [data-animate="logo-char-container"] {
    overflow: visible;
    transform: none;
  }

  .circle {
    transition: clip-path 0.3s 0.2s
      cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &:hover {
    .logoText:first-child {
      transform: translateX(-0.75em);
    }
    .logoText:last-child {
      transform: translateX(0.75em);
    }

    .circle {
      clip-path: circle(0.4em at 50% 50%);
    }
  }
}
