.repCardName {
  font-size: clamp(2rem, 7vw, 4rem);
}

.repCardContainer {
  height: 65vh;
  width: min(100%, 32rem);
  border-radius: 3rem;
  position: relative;
}


.repCardImage {
  border-radius: 3rem;
  overflow: hidden;
  will-change: transform;
}

.partyBG {
  position: absolute;
  top: 0;
  left: -10;
  height: 100%;
  width: 50%;
  border-radius: 3rem;
}