@use "../../styles/typography" as *;

.repCardContainer {
  height: min(40vh, 28rem);
  width: min(50vw, 35rem);
  // aspect-ratio: 3/2;
  position: relative;
}

.nonClickable {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
  filter: blur(10px);
  border: 5px solid red;
}

.repCardImage {
  overflow: hidden;
  will-change: transform;
}

.skeleton {
  position: absolute;
  inset: 0;
  min-height: 100%;
}

.repName {
  @include display-d2;
  color: white;
  position: absolute;
  bottom: 0.5rem;
  text-align: center;
  z-index: 2;
  width: 100%;
}
