@use "../../styles/typography" as *;

.repCardContainer {
  height: min(50vh, 32rem);
  aspect-ratio: 3/2;
  position: relative;
}

.repCardImage {
  overflow: hidden;
  will-change: transform;
}

.skeleton {
  position: absolute;
  inset: 0;
  min-height: 100%;
}

.repName {
  @include display-d2;
  color: white;
  position: absolute;
  bottom: 0.5rem;
  text-align: center;
  z-index: 2;
  width: 100%;
}
