.menu {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%) skew(-25deg);
  z-index: 100;
  background-color: var(--red-accent);

  opacity: 0;
  transition: all 0.5s ease-out;

  &[data-mounted="true"] {
    opacity: 1;
    transform: translateY(-0.5rem) translateX(-50%) scale(1)
      skew(-25deg);
  }

  .menuBackground {
    position: absolute;
    top: -5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background-color: var(--red-accent);
    z-index: -1;
  }
  .menuButtons {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--blue-accent);
    padding: 0.5rem;
    gap: 0.25rem;

    @media (max-width: 640px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .menuButton {
      display: inline-block;
      background-color: var(--blue-accent);
      color: var(--background-color);
      padding: 0.5rem 1rem;
      border: 0.5px solid var(--background-color);
      text-align: center;
      transition: border-color 0.2s ease-out;
      text-decoration: none;
      cursor: pointer;

      @media (max-width: 640px) {
        margin: 0.15rem;
      }

      &[aria-disabled="true"] {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
      }
    }
    .menuButton:hover {
      border-color: #bbbbbb;
    }
  }
}

.detailsButtonWrapper {
  @media (max-width: 640px) {
    display: none;
  }
}
